<link rel="import" href="../polymer/polymer.html">
<script src="../d3/d3.min.js"></script>

<!--
`d3gauge-element`
A simple gauge element made with d3js.

@demo demo/index.html
-->

<dom-module id="d3gauge-element">
  <template>
    <style>
      :host {
        display: inline-block;
        position: relative;
        width: 100%;
        padding-bottom: 67%; /* aspect ratio */
        vertical-align: top;
        overflow: hidden;
      }
      :host svg {
        width: 100%;
      }
      :host .svg-content-responsive {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
      }
      :host .majorticks {
        stroke-width: 2px;
        stroke: black;
      }
      :host .middleticks {
        stroke-width: 1px;
        stroke: gray;
      }
      :host .smallticks {
        stroke-width: 1px;
        stroke: gray;
      }
      :host text.label {
          text-anchor: middle
      }
      :host .legend {
        font-size: 20px;
        font-weight: 100;
        font-style: italic;
      }
      :host .needle {
        stroke: orange;
        stroke-width: 4px;
      }
      :host .pivot {
        fill: black;
      }
      :host .cadran {
          stroke-width: 2px;
          stroke: black;
      }
    </style>
    <svg id="d3gauge"></svg>
  </template>

  <script>
    Polymer({
      is: 'd3gauge-element',
      properties: {
        val: {
         type : Number,
         observer: '_updateval'
        },
        max: Number,
        min: {
          type: Number,
          value: 0
        },
        bigTick: {
          type: Number,
          value: 200
        },
        middleTick: {
          type: Number,
          value: 100
        },
        smallTick: {
          type: Number,
          value: 20
        },
        legend: {
          type: String
        }
      },
      ready: function(){
        this.scopeSubtree(this.$.d3gauge, true);
      },
      get _width() {
        return this.clientWidth
      },
      attached: function(){
        var that = this;

        that._scale = d3.scaleLinear().range([-Math.PI/2, (6*Math.PI/10)]).domain([that.min, that.max]);
        that._scaledeg = d3.scaleLinear().range([0, 198]).domain([that.min, that.max]);
        var margin = {top: 0, right:0, bottom: 0, left: 0},
        width = that._width - margin.left - margin.right,
        height = (width/2) * (1 + Math.sin(Math.PI/10)) - margin.top - margin.bottom;
        outer = 0.49*width;

        var majorTicks = [];
        for (var tick=that.min; tick<=that.max; tick+=that.bigTick) {
          majorTicks.push(tick)
        }
        var svg = d3.select(that.$.d3gauge)
          .attr("preserveAspectRatio", "xMinYMin meet")
          .attr("viewBox", "0 0 " + width +" " + height)
          .classed("svg-content-responsive", true)
          .append("g")
          .attr("transform",
            "translate(" + width/2 + "," + height/(1+Math.sin(Math.PI/10)) + ")");
        svg.append("g").attr("class", "labels");
        svg.selectAll("g.labels")
          .selectAll("text.label")
          .data(majorTicks)
          .enter().append("text")
          .attr("class", "label")
          .attr("x", function(d){return outer*0.75 * Math.sin(that._scale(d))})
          .attr("y", function(d){return -outer*0.75 * Math.cos(that._scale(d))})
          .attr("dy", "0.35em")
          .text(function(d){return d;});

        var smallticks = [];
        for (var tick=that.min; tick<=that.max; tick+=that.smallTick) {
          if (tick % that.bigTick != 0 && tick % that.middleTick != 0)
          {
            smallticks.push(tick);
          }
        }
        svg.append("g").attr("class", "smallticks");
        svg.selectAll("g.smallticks")
          .selectAll("path")
          .data(smallticks)
          .enter().append("path")
            .attr("d", d3.arc()
              .innerRadius(0.95*outer)
              .outerRadius(outer)
              .startAngle(that._scale)
              .endAngle(that._scale));

        var middleticks = [];
        for (var tick=that.min; tick<=that.max; tick+=that.middleTick) {
          if (tick % that.bigTick != 0)
          {
            middleticks.push(tick);
          }
        }
        svg.append("g").attr("class", "middleticks");
        svg.selectAll("g.middleticks")
          .selectAll("path")
          .data(middleticks)
          .enter().append("path")
            .attr("d", d3.arc()
              .innerRadius(0.9*outer)
              .outerRadius(outer)
              .startAngle(that._scale)
              .endAngle(that._scale));

        svg.append("g").attr("class", "majorticks");
        svg.selectAll("g.majorticks")
          .selectAll("path")
          .data(majorTicks)
          .enter().append("path")
            .attr("d", d3.arc()
              .innerRadius(0.85*outer)
              .outerRadius(outer)
              .startAngle(that._scale)
              .endAngle(that._scale));

        svg.append("g").attr("class", "cadran")
          .append("path").attr("d", d3.arc()
            .innerRadius(outer)
            .outerRadius(outer)
            .startAngle(that._scale(that.min))
            .endAngle(that._scale(that.max)));

        svg.append("g").attr("class", "legend")
          .append("text")
          .attr("class", "legend")
          .attr("y", -90)
          .attr("text-anchor", "middle")
          .text(that.legend);

        svg.append("g").attr("class", "pivot")
          .append("circle")
            .attr("r", 10)
            .attr("cx", 0)
            .attr("cy", 0);

        svg.append("g").attr("class", "needle");
        svg.select("g.needle")
          .append("path")
          .attr("d", d3.arc()
              .innerRadius(-0.1*outer)
              .outerRadius(0.95*outer)
              .startAngle(-Math.PI/2)
              .endAngle(-Math.PI/2));
        that._updateval();
      },
      _updateval :function (){
        var that = this;
        function angleTween(d, i) {
          if (typeof that.oldval === 'undefined') {
              that.oldval = 0;
          }
          var i = d3.interpolate(that._scaledeg(that.oldval), that._scaledeg(d));
          that.oldval=d;
          return function(t) {
              return "rotate(" + i(t) + ")";
          };
        }
        var outer=that.clientWidth;
        var svg = d3.select(that.$.d3gauge);
        svg.select('g').selectAll("g.needle")
          .data([that.val])
          .transition()
          .attrTween("transform", angleTween)
      }
    });
  </script>
</dom-module>
